<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>Omega</key>
  <string>Omega_.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>increment</key>
  <string>increment.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>Ydieresis</key>
  <string>Ydieresis_.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>middot</key>
  <string>middot.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>overscore</key>
  <string>overscore.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>Lslash</key>
  <string>Lslash_.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>Scaron</key>
  <string>Scaron_.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>Zcaron</key>
  <string>Zcaron_.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>Eth</key>
  <string>Eth_.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>Yacute</key>
  <string>Yacute_.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>Gbreve</key>
  <string>Gbreve_.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>Idot</key>
  <string>Idot_.glif</string>
  <key>Scedilla</key>
  <string>Scedilla_.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>Cacute</key>
  <string>Cacute_.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>Ccaron</key>
  <string>Ccaron_.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>dslash</key>
  <string>dslash.glif</string>
  <key>sfthyphen</key>
  <string>sfthyphen.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>Euro</key>
  <string>Euro_.glif</string>
  <key>c6459</key>
  <string>c6459.glif</string>
  <key>c6460</key>
  <string>c6460.glif</string>
  <key>c6461</key>
  <string>c6461.glif</string>
  <key>c6468</key>
  <string>c6468.glif</string>
  <key>c6470</key>
  <string>c6470.glif</string>
  <key>c6472</key>
  <string>c6472.glif</string>
  <key>c6477</key>
  <string>c6477.glif</string>
  <key>c6478</key>
  <string>c6478.glif</string>
  <key>c6475</key>
  <string>c6475.glif</string>
  <key>c6476</key>
  <string>c6476.glif</string>
  <key>x0</key>
  <string>x0.glif</string>
  <key>x1</key>
  <string>x1.glif</string>
  <key>x2</key>
  <string>x2.glif</string>
  <key>x3</key>
  <string>x3.glif</string>
  <key>x4</key>
  <string>x4.glif</string>
  <key>x5</key>
  <string>x5.glif</string>
  <key>x6</key>
  <string>x6.glif</string>
  <key>x7</key>
  <string>x7.glif</string>
  <key>x8</key>
  <string>x8.glif</string>
  <key>x9</key>
  <string>x9.glif</string>
  <key>xa</key>
  <string>xa.glif</string>
  <key>xb</key>
  <string>xb.glif</string>
  <key>xc</key>
  <string>xc.glif</string>
  <key>xd</key>
  <string>xd.glif</string>
  <key>xe</key>
  <string>xe.glif</string>
  <key>xf</key>
  <string>xf.glif</string>
  <key>xg</key>
  <string>xg.glif</string>
  <key>xh</key>
  <string>xh.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>xj</key>
  <string>xj.glif</string>
  <key>xk</key>
  <string>xk.glif</string>
  <key>xl</key>
  <string>xl.glif</string>
  <key>xm</key>
  <string>xm.glif</string>
  <key>xn</key>
  <string>xn.glif</string>
  <key>xo</key>
  <string>xo.glif</string>
  <key>xp</key>
  <string>xp.glif</string>
  <key>xq</key>
  <string>xq.glif</string>
  <key>xr</key>
  <string>xr.glif</string>
  <key>xs</key>
  <string>xs.glif</string>
  <key>xt</key>
  <string>xt.glif</string>
  <key>xu</key>
  <string>xu.glif</string>
  <key>xv</key>
  <string>xv.glif</string>
  <key>xw</key>
  <string>xw.glif</string>
  <key>xx</key>
  <string>xx.glif</string>
  <key>xy</key>
  <string>xy.glif</string>
  <key>xz</key>
  <string>xz.glif</string>
  <key>a_a_l_t</key>
  <string>a_a_l_t.glif</string>
  <key>a_b_v_f</key>
  <string>a_b_v_f.glif</string>
  <key>a_b_v_m</key>
  <string>a_b_v_m.glif</string>
  <key>a_b_v_s</key>
  <string>a_b_v_s.glif</string>
  <key>a_f_r_c</key>
  <string>a_f_r_c.glif</string>
  <key>a_k_h_n</key>
  <string>a_k_h_n.glif</string>
  <key>b_l_w_f</key>
  <string>b_l_w_f.glif</string>
  <key>b_l_w_m</key>
  <string>b_l_w_m.glif</string>
  <key>b_l_w_s</key>
  <string>b_l_w_s.glif</string>
  <key>c_two_p_c</key>
  <string>c_two_p_c.glif</string>
  <key>c_two_s_c</key>
  <string>c_two_s_c.glif</string>
  <key>c_a_l_t</key>
  <string>c_a_l_t.glif</string>
  <key>c_a_s_e</key>
  <string>c_a_s_e.glif</string>
  <key>c_c_m_p</key>
  <string>c_c_m_p.glif</string>
  <key>c_l_i_g</key>
  <string>c_l_i_g.glif</string>
  <key>c_j_c_t</key>
  <string>c_j_c_t.glif</string>
  <key>c_p_s_p</key>
  <string>c_p_s_p.glif</string>
  <key>c_s_w_h</key>
  <string>c_s_w_h.glif</string>
  <key>c_u_r_s</key>
  <string>c_u_r_s.glif</string>
  <key>d_f_l_t</key>
  <string>d_f_l_t.glif</string>
  <key>d_i_s_t</key>
  <string>d_i_s_t.glif</string>
  <key>d_l_i_g</key>
  <string>d_l_i_g.glif</string>
  <key>d_n_o_m</key>
  <string>d_n_o_m.glif</string>
  <key>e_x_p_t</key>
  <string>e_x_p_t.glif</string>
  <key>f_a_l_t</key>
  <string>f_a_l_t.glif</string>
  <key>f_i_n_two</key>
  <string>f_i_n_two.glif</string>
  <key>f_i_n_three</key>
  <string>f_i_n_three.glif</string>
  <key>f_i_n_a</key>
  <string>f_i_n_a.glif</string>
  <key>f_r_a_c</key>
  <string>f_r_a_c.glif</string>
  <key>f_w_i_d</key>
  <string>f_w_i_d.glif</string>
  <key>h_a_l_f</key>
  <string>h_a_l_f.glif</string>
  <key>h_a_l_n</key>
  <string>h_a_l_n.glif</string>
  <key>h_a_l_t</key>
  <string>h_a_l_t.glif</string>
  <key>h_i_s_t</key>
  <string>h_i_s_t.glif</string>
  <key>h_k_n_a</key>
  <string>h_k_n_a.glif</string>
  <key>h_l_i_g</key>
  <string>h_l_i_g.glif</string>
  <key>h_n_g_l</key>
  <string>h_n_g_l.glif</string>
  <key>h_o_j_o</key>
  <string>h_o_j_o.glif</string>
  <key>h_w_i_d</key>
  <string>h_w_i_d.glif</string>
  <key>i_n_i_t</key>
  <string>i_n_i_t.glif</string>
  <key>i_s_o_l</key>
  <string>i_s_o_l.glif</string>
  <key>i_t_a_l</key>
  <string>i_t_a_l.glif</string>
  <key>j_a_l_t</key>
  <string>j_a_l_t.glif</string>
  <key>j_p_seven_eight</key>
  <string>j_p_seven_eight.glif</string>
  <key>j_p_eight_three</key>
  <string>j_p_eight_three.glif</string>
  <key>j_p_nine_zero</key>
  <string>j_p_nine_zero.glif</string>
  <key>j_p_zero_four</key>
  <string>j_p_zero_four.glif</string>
  <key>k_e_r_n</key>
  <string>k_e_r_n.glif</string>
  <key>l_f_b_d</key>
  <string>l_f_b_d.glif</string>
  <key>l_i_g_a</key>
  <string>l_i_g_a.glif</string>
  <key>l_j_m_o</key>
  <string>l_j_m_o.glif</string>
  <key>l_n_u_m</key>
  <string>l_n_u_m.glif</string>
  <key>l_o_c_l</key>
  <string>l_o_c_l.glif</string>
  <key>m_a_r_k</key>
  <string>m_a_r_k.glif</string>
  <key>m_e_d_two</key>
  <string>m_e_d_two.glif</string>
  <key>m_e_d_i</key>
  <string>m_e_d_i.glif</string>
  <key>m_g_r_k</key>
  <string>m_g_r_k.glif</string>
  <key>m_k_m_k</key>
  <string>m_k_m_k.glif</string>
  <key>m_s_e_t</key>
  <string>m_s_e_t.glif</string>
  <key>n_a_l_t</key>
  <string>n_a_l_t.glif</string>
  <key>n_l_c_k</key>
  <string>n_l_c_k.glif</string>
  <key>n_u_k_t</key>
  <string>n_u_k_t.glif</string>
  <key>n_u_m_r</key>
  <string>n_u_m_r.glif</string>
  <key>o_n_u_m</key>
  <string>o_n_u_m.glif</string>
  <key>o_p_b_d</key>
  <string>o_p_b_d.glif</string>
  <key>o_r_d_n</key>
  <string>o_r_d_n.glif</string>
  <key>o_r_n_m</key>
  <string>o_r_n_m.glif</string>
  <key>p_a_l_t</key>
  <string>p_a_l_t.glif</string>
  <key>p_c_a_p</key>
  <string>p_c_a_p.glif</string>
  <key>p_n_u_m</key>
  <string>p_n_u_m.glif</string>
  <key>p_r_e_f</key>
  <string>p_r_e_f.glif</string>
  <key>p_r_e_s</key>
  <string>p_r_e_s.glif</string>
  <key>p_s_t_f</key>
  <string>p_s_t_f.glif</string>
  <key>p_s_t_s</key>
  <string>p_s_t_s.glif</string>
  <key>p_w_i_d</key>
  <string>p_w_i_d.glif</string>
  <key>q_w_i_d</key>
  <string>q_w_i_d.glif</string>
  <key>r_a_n_d</key>
  <string>r_a_n_d.glif</string>
  <key>r_k_r_f</key>
  <string>r_k_r_f.glif</string>
  <key>r_l_i_g</key>
  <string>r_l_i_g.glif</string>
  <key>r_p_h_f</key>
  <string>r_p_h_f.glif</string>
  <key>r_t_b_d</key>
  <string>r_t_b_d.glif</string>
  <key>r_t_l_a</key>
  <string>r_t_l_a.glif</string>
  <key>r_u_b_y</key>
  <string>r_u_b_y.glif</string>
  <key>s_a_l_t</key>
  <string>s_a_l_t.glif</string>
  <key>s_i_n_f</key>
  <string>s_i_n_f.glif</string>
  <key>s_i_z_e</key>
  <string>s_i_z_e.glif</string>
  <key>s_m_c_p</key>
  <string>s_m_c_p.glif</string>
  <key>s_m_p_l</key>
  <string>s_m_p_l.glif</string>
  <key>s_s_zero_one</key>
  <string>s_s_zero_one.glif</string>
  <key>s_s_zero_two</key>
  <string>s_s_zero_two.glif</string>
  <key>s_s_zero_three</key>
  <string>s_s_zero_three.glif</string>
  <key>s_s_zero_four</key>
  <string>s_s_zero_four.glif</string>
  <key>s_s_zero_five</key>
  <string>s_s_zero_five.glif</string>
  <key>s_s_zero_six</key>
  <string>s_s_zero_six.glif</string>
  <key>s_s_zero_seven</key>
  <string>s_s_zero_seven.glif</string>
  <key>s_s_zero_eight</key>
  <string>s_s_zero_eight.glif</string>
  <key>s_s_zero_nine</key>
  <string>s_s_zero_nine.glif</string>
  <key>s_s_one_zero</key>
  <string>s_s_one_zero.glif</string>
  <key>s_s_one_one</key>
  <string>s_s_one_one.glif</string>
  <key>s_s_one_two</key>
  <string>s_s_one_two.glif</string>
  <key>s_s_one_three</key>
  <string>s_s_one_three.glif</string>
  <key>s_s_one_four</key>
  <string>s_s_one_four.glif</string>
  <key>s_s_one_five</key>
  <string>s_s_one_five.glif</string>
  <key>s_s_one_six</key>
  <string>s_s_one_six.glif</string>
  <key>s_s_one_seven</key>
  <string>s_s_one_seven.glif</string>
  <key>s_s_one_eight</key>
  <string>s_s_one_eight.glif</string>
  <key>s_s_one_nine</key>
  <string>s_s_one_nine.glif</string>
  <key>s_s_two_zero</key>
  <string>s_s_two_zero.glif</string>
  <key>s_s_two_one</key>
  <string>s_s_two_one.glif</string>
  <key>s_s_two_two</key>
  <string>s_s_two_two.glif</string>
  <key>s_u_b_s</key>
  <string>s_u_b_s.glif</string>
  <key>s_u_p_s</key>
  <string>s_u_p_s.glif</string>
  <key>s_w_s_h</key>
  <string>s_w_s_h.glif</string>
  <key>t_i_t_l</key>
  <string>t_i_t_l.glif</string>
  <key>t_j_m_o</key>
  <string>t_j_m_o.glif</string>
  <key>t_n_a_m</key>
  <string>t_n_a_m.glif</string>
  <key>t_n_u_m</key>
  <string>t_n_u_m.glif</string>
  <key>t_r_a_d</key>
  <string>t_r_a_d.glif</string>
  <key>t_w_i_d</key>
  <string>t_w_i_d.glif</string>
  <key>u_n_i_c</key>
  <string>u_n_i_c.glif</string>
  <key>v_a_l_t</key>
  <string>v_a_l_t.glif</string>
  <key>v_a_t_u</key>
  <string>v_a_t_u.glif</string>
  <key>v_e_r_t</key>
  <string>v_e_r_t.glif</string>
  <key>v_h_a_l</key>
  <string>v_h_a_l.glif</string>
  <key>v_j_m_o</key>
  <string>v_j_m_o.glif</string>
  <key>v_k_n_a</key>
  <string>v_k_n_a.glif</string>
  <key>v_k_r_n</key>
  <string>v_k_r_n.glif</string>
  <key>v_p_a_l</key>
  <string>v_p_a_l.glif</string>
  <key>v_r_t_two</key>
  <string>v_r_t_two.glif</string>
  <key>z_e_r_o</key>
  <string>z_e_r_o.glif</string>
</dict>
</plist>
