.breadcrumb {
    display: block;

    font-family: "PT Sans", Helvetica, Arial, sans-serif;

    border-radius: 3px;
    background-color: #f9f9f9;
}
.breadcrumb li {
    font-size: 85%;
}
.breadcrumb > .active {
    font-weight: bold;

    color: #515151;
}
.breadcrumb > li + li:before {
    content: "\003E\00a0";

    color: #bf616a;
}
