<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1493</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>infinity</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>mu</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Omega</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>florin</string>
    <string>approxequal</string>
    <string>increment</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>fraction</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>daggerdbl</string>
    <string>middot</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>dotlessi</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>overscore</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>brokenbar</string>
    <string>Eth</string>
    <string>eth</string>
    <string>Yacute</string>
    <string>yacute</string>
    <string>Thorn</string>
    <string>thorn</string>
    <string>minus</string>
    <string>multiply</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Idot</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>dslash</string>
    <string>sfthyphen</string>
    <string>periodcentered</string>
    <string>Euro</string>
    <string>c6459</string>
    <string>c6460</string>
    <string>c6461</string>
    <string>c6468</string>
    <string>c6470</string>
    <string>c6472</string>
    <string>c6477</string>
    <string>c6478</string>
    <string>c6475</string>
    <string>c6476</string>
    <string>x0</string>
    <string>x1</string>
    <string>x2</string>
    <string>x3</string>
    <string>x4</string>
    <string>x5</string>
    <string>x6</string>
    <string>x7</string>
    <string>x8</string>
    <string>x9</string>
    <string>xa</string>
    <string>xb</string>
    <string>xc</string>
    <string>xd</string>
    <string>xe</string>
    <string>xf</string>
    <string>xg</string>
    <string>xh</string>
    <string>xi</string>
    <string>xj</string>
    <string>xk</string>
    <string>xl</string>
    <string>xm</string>
    <string>xn</string>
    <string>xo</string>
    <string>xp</string>
    <string>xq</string>
    <string>xr</string>
    <string>xs</string>
    <string>xt</string>
    <string>xu</string>
    <string>xv</string>
    <string>xw</string>
    <string>xx</string>
    <string>xy</string>
    <string>xz</string>
    <string>a_a_l_t</string>
    <string>a_b_v_f</string>
    <string>a_b_v_m</string>
    <string>a_b_v_s</string>
    <string>a_f_r_c</string>
    <string>a_k_h_n</string>
    <string>b_l_w_f</string>
    <string>b_l_w_m</string>
    <string>b_l_w_s</string>
    <string>c_two_p_c</string>
    <string>c_two_s_c</string>
    <string>c_a_l_t</string>
    <string>c_a_s_e</string>
    <string>c_c_m_p</string>
    <string>c_l_i_g</string>
    <string>c_j_c_t</string>
    <string>c_p_s_p</string>
    <string>c_s_w_h</string>
    <string>c_u_r_s</string>
    <string>d_f_l_t</string>
    <string>d_i_s_t</string>
    <string>d_l_i_g</string>
    <string>d_n_o_m</string>
    <string>e_x_p_t</string>
    <string>f_a_l_t</string>
    <string>f_i_n_two</string>
    <string>f_i_n_three</string>
    <string>f_i_n_a</string>
    <string>f_r_a_c</string>
    <string>f_w_i_d</string>
    <string>h_a_l_f</string>
    <string>h_a_l_n</string>
    <string>h_a_l_t</string>
    <string>h_i_s_t</string>
    <string>h_k_n_a</string>
    <string>h_l_i_g</string>
    <string>h_n_g_l</string>
    <string>h_o_j_o</string>
    <string>h_w_i_d</string>
    <string>i_n_i_t</string>
    <string>i_s_o_l</string>
    <string>i_t_a_l</string>
    <string>j_a_l_t</string>
    <string>j_p_seven_eight</string>
    <string>j_p_eight_three</string>
    <string>j_p_nine_zero</string>
    <string>j_p_zero_four</string>
    <string>k_e_r_n</string>
    <string>l_f_b_d</string>
    <string>l_i_g_a</string>
    <string>l_j_m_o</string>
    <string>l_n_u_m</string>
    <string>l_o_c_l</string>
    <string>m_a_r_k</string>
    <string>m_e_d_two</string>
    <string>m_e_d_i</string>
    <string>m_g_r_k</string>
    <string>m_k_m_k</string>
    <string>m_s_e_t</string>
    <string>n_a_l_t</string>
    <string>n_l_c_k</string>
    <string>n_u_k_t</string>
    <string>n_u_m_r</string>
    <string>o_n_u_m</string>
    <string>o_p_b_d</string>
    <string>o_r_d_n</string>
    <string>o_r_n_m</string>
    <string>p_a_l_t</string>
    <string>p_c_a_p</string>
    <string>p_n_u_m</string>
    <string>p_r_e_f</string>
    <string>p_r_e_s</string>
    <string>p_s_t_f</string>
    <string>p_s_t_s</string>
    <string>p_w_i_d</string>
    <string>q_w_i_d</string>
    <string>r_a_n_d</string>
    <string>r_k_r_f</string>
    <string>r_l_i_g</string>
    <string>r_p_h_f</string>
    <string>r_t_b_d</string>
    <string>r_t_l_a</string>
    <string>r_u_b_y</string>
    <string>s_a_l_t</string>
    <string>s_i_n_f</string>
    <string>s_i_z_e</string>
    <string>s_m_c_p</string>
    <string>s_m_p_l</string>
    <string>s_s_zero_one</string>
    <string>s_s_zero_two</string>
    <string>s_s_zero_three</string>
    <string>s_s_zero_four</string>
    <string>s_s_zero_five</string>
    <string>s_s_zero_six</string>
    <string>s_s_zero_seven</string>
    <string>s_s_zero_eight</string>
    <string>s_s_zero_nine</string>
    <string>s_s_one_zero</string>
    <string>s_s_one_one</string>
    <string>s_s_one_two</string>
    <string>s_s_one_three</string>
    <string>s_s_one_four</string>
    <string>s_s_one_five</string>
    <string>s_s_one_six</string>
    <string>s_s_one_seven</string>
    <string>s_s_one_eight</string>
    <string>s_s_one_nine</string>
    <string>s_s_two_zero</string>
    <string>s_s_two_one</string>
    <string>s_s_two_two</string>
    <string>s_u_b_s</string>
    <string>s_u_p_s</string>
    <string>s_w_s_h</string>
    <string>t_i_t_l</string>
    <string>t_j_m_o</string>
    <string>t_n_a_m</string>
    <string>t_n_u_m</string>
    <string>t_r_a_d</string>
    <string>t_w_i_d</string>
    <string>u_n_i_c</string>
    <string>v_a_l_t</string>
    <string>v_a_t_u</string>
    <string>v_e_r_t</string>
    <string>v_h_a_l</string>
    <string>v_j_m_o</string>
    <string>v_k_n_a</string>
    <string>v_k_r_n</string>
    <string>v_p_a_l</string>
    <string>v_r_t_two</string>
    <string>z_e_r_o</string>
  </array>
</dict>
</plist>
